#features {
  height: 1191px;
  position: relative;
  background: #f4f6fc;
}
#features .features__wrapper {
  height: auto;
  width: 1310px;
  position: absolute;
  margin: 128px 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#features .features__wrapper .features__headings {
  align-items: center;
  width: 630px;
}
#features .features__wrapper .features__headings h4 {
  color: #282938;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#features .features__wrapper .features__headings h2 {
  text-align: center;
  margin-top: 12px;
}
#features .features__wrapper .features__cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 47px;
  column-gap: 32px;
  row-gap: 24px;
}
#features .features__wrapper .features__cards .feature__single__card {
  width: 405px;
  height: 316px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
#features .features__wrapper .features__cards .feature__single__card img {
  margin-top: 58px;
  margin-left: 48px;
  height: 35px;
  width: 35px;
  object-fit: cover;
}
#features .features__wrapper .features__cards .feature__single__card h2 {
  color: #282938;
  width: 314.748px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 22px;
  margin-left: 48px;
}
#features .features__wrapper .features__cards .feature__single__card p {
  width: 324px;
  margin-top: 12px;
  margin-left: 48px;
}