// ==== footer scss started here ====
@import "../../global.scss";
#footer {
  height: 397px;
  position: relative;
  background: $tint__blue;
  .footer__wrapper {
    height: auto;
    width: 1310px;
    margin: 0 305px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 100px;
    .footer__contents {
      display: flex;
      flex-direction: row;
      .footer__headings {
        display: flex;
        flex-direction: column;
        img {
          width: 156px;
          height: 38px;
        }
        p {
          color: $white;
          width: 399px;
          margin-top: 16px;
        }
      }
      .footer__icons {
        margin-left: 260px;
        h2 {
          color: $white;
        }
        p {
          color: $white;
          width: 399px;
          margin-top: 14px;
        }
        .icons__group {
          display: flex;
          flex-direction: row;
          column-gap: 26px;
          margin-top: 28px;
          i {
            width: 26px;
            height: 26px;
            color: $white;
            transition: 0.3s linear;
            &:hover {
              color: aquamarine;
            }
          }
        }
      }
    }
    .footer__box {
      width: 517px;
      height: 95px;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      margin-bottom: -81px;
      display: flex;
      flex-direction: row;
      column-gap: 102px;
      padding-top: 18px;
      padding-left: 37px;
      div {
        display: flex;
        flex-direction: column;
        h4 {
          color: $txt__color;
          font-family: $popins;
          font-size: 18px;
          font-weight: 500;
          line-height: 32px;
        }
        p {
          color: $txt__color;
          font-family: $popins;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          opacity: 0.8;
        }
      }
    }
  }
}
// ==== footer scss ende here  here ====
