#blog {
  height: 993px;
  position: relative;
}
#blog .blog__wrapper {
  height: auto;
  width: 1310px;
  margin: 128px 305px;
  display: flex;
  position: absolute;
  flex-direction: column;
}
#blog .blog__wrapper .blog__cards {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 64px;
}
#blog .blog__wrapper .blog__cards .blog__single__cards {
  width: 405px;
  height: auto;
}
#blog .blog__wrapper .blog__cards .blog__single__cards img {
  width: 100%;
  height: 285px;
  overflow: hidden;
}
#blog .blog__wrapper .blog__cards .blog__single__cards h6 {
  margin-top: 40px;
}
#blog .blog__wrapper .blog__cards .blog__single__cards h4 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 16px;
}
#blog .blog__wrapper .blog__cards .blog__single__cards p {
  margin-top: 16px;
}
#blog .blog__wrapper .blog__cards .blog__single__cards h5 {
  margin-top: 32px;
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  position: relative;
}
#blog .blog__wrapper .blog__cards .blog__single__cards h5::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 0;
  background-color: #000;
  left: 0;
  margin-top: 6px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.3s linear all;
}
#blog .blog__wrapper .blog__cards .blog__single__cards h5:hover::before {
  width: 22%;
}