$manrope: "Manrope", sans-serif;
$popins: "Poppins", sans-serif;
$txt__color: #282938;
$white: #fff;
$tint__blue: rgba(28, 30, 83, 1);
$yellow: #fcd980;
$blue: rgba(82, 57, 250, 1);
$common__btn_txt: #1b1c2b;